body
    .container
        #toDoDiv
            #toDoDivList
                border-style: solid
                @media (max-width: 990px)
                    width: 100%
                .row
                    #tableDiv
                        #toDoTitle
                            text-align: center
                        #toDoTable
                            table-layout: fixed
                            margin: 0 auto
                            border: 1px solid black
                            .headRow
                                padding-top: 12px
                                padding-bottom: 12px
                                background-color: #4CAF50
                                color: white
                                border: 1px solid black
                            .descRow
                                &:nth-child(even)
                                    background-color: #f2f2f2
                                &:hover
                                    background-color: #ddd
                            .descCol
                                min-width: 150px
                                padding-left: 2px
                                word-wrap: break-work
                                border: 1px solid black
                            .buttonCol
                                padding-left: 0px
                        #newTaskForm
                            width: 400px
                            margin: 0 auto
                            input
                                display:inline-block
                                float:left
                            #newTaskMsg
                                margin-left: 103px
                            .formLabel
                                display: inline-block
                                width: 100px
                                float: left
                                text-align: right
                                margin-right: 2px
                            .formButton
                                margin-left: 103px