<!DOCTYPE html>
<html ng-app = "app" ng-cloak>
<header>
    <meta charset = "utf-8">
    <title>To-Do List Builder</title>
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }   
    </style>
    <link rel = "stylesheet" type = "text/css" href = "main.css"> 
</header>


<body>
    <div id = "toDoDiv" ng-controller = "toDoCtrl">
        <h1>To-Do List</h1>
        <br>
        
        <table id="toDoTable">
        <tr>
            <th>Task</th>
            <th>Details</th>
            <th>Deadline</th>
            <th></th>
        </tr>
        <tr ng-repeat = "x in toDoList">
            <td>{{x.taskName}}</td>
            <td>{{x.details}}</td>
            <td>{{x.deadline | date:"MM/dd/yyyy ' at ' h:mma"}}</td>
            <td><input type="button" data-ng-click="removeRow(x)" value = "Delete"/></td>
        </tr>
        </table>
        <br><br>
        <form id = "newTaskForm" name = "newTaskForm" onsubmit="this.reset()" ng-submit="addTask(taskInfo)">
            <p id = "newTaskMsg"><strong>Add new task here</strong></p>
            <label class = "formLabel">Task Name: </label>
                <input type="text" name="taskName" ng-model="taskInfo.taskName" ng-required = "true" />
                <span class = "error-message" ng-show="newTaskForm.taskName.$dirty && newTaskForm.taskName.$error.required">Must enter task name</span>
            <br><br>
            <label class = "formLabel">Details:</label>
                <input type="textarea" name="detailsInput" ng-model="taskInfo.details"/><br><br>
            <label class = "formLabel">Deadline:</label>
                <input type="datetime-local" name="deadlineInput" ng-model="taskInfo.deadline"/>
            <br><br>
            <input class = "formButton" type = "submit" value = "Add" ng-disabled="newTaskForm.$invalid" />
        </form>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/toDo.js"></script>
</body>
</html>